body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form-container {
    display: flex;
    justify-content: center;
    height: 300px;
    position: relative;
}

#user-form {
    position: absolute;
    top: 50%;
    height: 50%;
    background-color: aquamarine;
    padding: 20px;
}

#game-window {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: black;
    border-width: 3px;
}